.pageContent {
    display: flex;
    flex-direction: column;
    position: relative;
}

.imageText {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 8%;

    h1 {
        color: #fff;
        font-size: 56px;
    }

    p {
        color: #fff;
        font-size: 16px;
    }
}

.section {
    position: relative;
    padding-top: 10rem;
}

.formBox {
    width: 100%;
    position: absolute;
    padding: 0 10rem;
    top: -3rem;
    z-index: 1;
}

.contentBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.filters {
    display: inherit;
    flex-direction: column;
    width: 15%;
    gap: 2rem;
}

.tuors {
    display: flex;
    flex-direction: column;
    border: 1px solid orange;
    width: 83%;

    header {
        display: inherit;
        justify-content: space-between;
        flex-direction: row;
        background-color: green;

        span {
            display: inherit;
        }
    }
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding-top: 1rem;
    justify-items: center;
}

.cardTuorBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#orderBox {
    cursor: pointer;
    background-color: red;
    width: 20px;
}