.section {
    display: flex;
    flex-direction: column;
    background-color: #F7F8FA;
    width: 100%;
    gap: 1rem;
    padding: 1rem;

    p {
        font-weight: bold;
        font-size: 18px;
    }

}