.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;

    #content {
        display: flex;
        flex-direction: row;
        width: auto;

        button {
            cursor: pointer;
        }
    }

    p {
        font-size: 20px;
    }
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c9c9c9;
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    background-color: transparent;
    font-size: 25px;
}