.button {
    display: flex;
    background-color: #fff;
    padding: .5rem;
    text-decoration: none;
    color: #000;

    p {
        font-size: 1rem;
    }
}


.button:hover {
    p {
        color: #FC5056;
    }
}