@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.cursiveText {
  font-family: "Kaushan Script", cursive;
}

.textSizeSmall {
  font-size: 14px;
}

.redText{
  color: #FC5056
}

.boldText{
  font-weight: bold;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}